<nav class="bg-green-800 ">
        <ul class="display: flex list-style:none justify-between items-center px-4 py-3 z-50" >
            <li><a href="{% url "index"%}" class="font-semibold text-xl">Home</a></li>
            <li><a href="{% url "about" %}"class="font-semibold text-xl">About</a></li>
            <li><a href="{% url "contact"%}" class="font-semibold text-xl">Contact</a></li>
            <li><a href="{% url "filters"%}" class="font-semibold text-xl">Filters</a></li>
            <li><a href="{% url "blogs"%}" class="font-semibold text-xl">Blogs</a></li>
        </ul>
    
</nav>